<div class="wrapper">
    <div id="mybutton">
        <button type="button" class="btn btn-primary btn-round" style="cursor: pointer"><i class="far fa-file-alt"></i><span class="title-tab"> Visualiser mon CV</span> </button>
    </div>
    <div class="page-header page-header-small" >
        <div class="page-header-image" style="background:#252222 ">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title header-1" style="color: white">Cyril Tournier</h3>
                <div class="content">
                    <div class="content-1" style="text-align: center"> <span class="tw" #tw> </span><span #tw2></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="https://www.linkedin.com/in/cyril-tournier/" class="btn btn-default btn-round btn-lg btn-icon btn-social" style="background: #f9D349" rel="tooltip">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Tourniercy" class="btn btn-default btn-round btn-lg btn-icon btn-social" style="background: #f9D349" rel="tooltip">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <h3 class="title">A propos</h3>
            <h5 class="content-2">Suivant une formation en Alternance à Ynov Bordeaux qui mène à l'obtention d'un Mastère Développement Web, je possède une base solide en Html / Css / Javascript / Php,  ce qui me permet l'utilisation de Framework tel que Angular, React, Symfony ou Laravel.
                Pour en savoir plus sur moi je vous invite à <a href="">visualiser mon cv</a> ou voir mes différents projets développés <a href="#portfolio-div">ici</a>.</h5>
            <div class="row">
                <div class="col-md-12" id="portfolio-div">
                    <h4 class="title text-center">Mon portfolio</h4>
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-react"><span class="title-tab"> React</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                <div class="hover hover-2 text-white rounded"><img src="assets/img/bg-ra.png" alt="">
                                                    <div class="hover-overlay"></div>
                                                    <div class="hover-2-content px-5 py-4">
                                                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">RunningApp</h3>
                                                        <p class="hover-2-description text-uppercase mb-0"><a href="https://github.com/Tourniercy/RunningApp">Voir le github</a></p>
                                                    </div>
                                                </div>
                                                    </div>
<!--                                                    <div class="col-6">-->
<!--                                                <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">-->
<!--                                                    <div class="hover-overlay"></div>-->
<!--                                                    <div class="hover-2-content px-5 py-4">-->
<!--                                                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">RunningWeb </span></h3>-->
<!--                                                        <p class="hover-2-description text-uppercase mb-0">Test <br>adipisicing elit.</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
<!--                                                <div STYLE="width: 1000px">PORT</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-angular"><span class="title-tab"> Angular</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="hover hover-2 text-white rounded"><img src="assets/img/bg-portfolio.png" alt="">
                                                            <div class="hover-overlay"></div>
                                                            <div class="hover-2-content px-5 py-4">
                                                                <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">Portfolio</h3>
                                                                <p class="hover-2-description text-uppercase mb-0"><a href="https://ctournier.herokuapp.com/">Voir le projet</a> <br><a href="https://github.com/Tourniercy/Portfolio">Voir le github</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--                                                <div STYLE="width: 1000px">PORT</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                               <i class="fab fa-symfony"><span class="title-tab"> Symfony</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="hover hover-2 text-white rounded"><img src="assets/img/bg-statify.png" alt="">
                                                            <div class="hover-overlay"></div>
                                                            <div class="hover-2-content px-5 py-4">
                                                                <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">StatiFyApp</h3>
                                                                <p class="hover-2-description text-uppercase mb-0"><a href="https://statifyapp.herokuapp.com/">Voir le projet</a> <br><a href="https://github.com/Tourniercy/StatifyApp">Voir le github</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="hover hover-2 text-white rounded"><img src="assets/img/bg-corona.png" alt="">
                                                            <div class="hover-overlay"></div>
                                                            <div class="hover-2-content px-5 py-4">
                                                                <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">CoronaNews</h3>
                                                                <p class="hover-2-description text-uppercase mb-0"><a href="https://coronanews48.herokuapp.com/">Voir le projet</a> <br><a href="https://github.com/Tourniercy/CoronaNews">Voir le github</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--                                                <div STYLE="width: 1000px">PORT</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-wordpress"><span class="title-tab"> Wordpress</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="hover hover-2 text-white rounded"><img src="assets/img/bg-pis.png" alt="">
                                                            <div class="hover-overlay"></div>
                                                            <div class="hover-2-content px-5 py-4">
                                                                <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> ProImageService </h3>
                                                                <p class="hover-2-description text-uppercase mb-0"><a href="https://coronanews48.herokuapp.com/">Voir le projet</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--                                                <div STYLE="width: 1000px">PORT</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
<!--    <footer class="footer footer-default">-->
<!--        <div class="container">-->
<!--            <nav>-->
<!--            </nav>-->
<!--            <div class="copyright">-->
<!--                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
</div>
