@font-face {
    font-family: Roboto;
    src: url('../../assets/fonts/Roboto-regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('../../assets/fonts/Roboto-bold.ttf');
    font-weight: 800;
}


.beside{
    display: flex;
    justify-content: start;
}
.tw{}
.tw::after{
    content: " ";
    white-space: pre;
}
.header-1 {
    font-family: Roboto, sans-serif;
    font-size: 31.5px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 6.3px;
    line-height: 34.65px;
    text-transform: uppercase;
}
.content-1 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 17.1429px;
    text-transform: uppercase;
}
.content-2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4em;
}
.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.9em;
}

.title-tab {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}
.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}
#mybutton {
    position: fixed;
    top: 4px;
    right: 10px;
    z-index: 2;
}

