<div class="wrapper">
    <div class="page-header page-header-small" >
        <div class="page-header-image" style="background:#101010 ">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title header-1" style="color: white">Cyril Tournier</h3>
                <div class="content">
                    <div class="content-1" style="text-align: center"> <span class="tw" #tw> </span><span #tw2></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" style="background: #f96332" rel="tooltip" title="Follow me on Twitter">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" style="background: #f96332" rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="content-2">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                    <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-react"><span class="title-tab"> React</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <div class="hover hover-2 text-white rounded"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570786258/hoverSet-2_lt7geh.jpg" alt="">
                                                    <div class="hover-overlay"></div>
                                                    <div class="hover-2-content px-5 py-4">
                                                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Image </span>Caption</h3>
                                                        <p class="hover-2-description text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                                                    </div>
                                                </div>
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-angular"><span class="title-tab"> Angular</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                                <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                               <i class="fab fa-symfony"><span class="title-tab"> Symfony</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-wordpress"><span class="title-tab"> Wordpress</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fab fa-bootstrap"><span class="title-tab"> Htlm5/Bootsrap</span></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
<!--    <footer class="footer footer-default">-->
<!--        <div class="container">-->
<!--            <nav>-->
<!--            </nav>-->
<!--            <div class="copyright">-->
<!--                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
    <div id="mybutton">
        <button type="button" class="btn btn-primary btn-round"><i class="far fa-file-alt"></i><span class="title-tab"> Visualiser mon CV</span> </button>
    </div>
</div>
